<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ProductMapper">
	<resultMap id="productMap" type="com.spring.selection.model.Product">
		<result property="product_no" column="product_no" />
		<result property="brand" column="brand" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="dscr" column="dscr" />
		<result property="img" column="img" />
	</resultMap>
	
	<!-- 상품 조회 -->
	<select id="productList" 
		resultType="com.spring.selection.model.Product">
		SELECT product_no, brand, name, price, dscr, img FROM product;
	</select>
	
	<!-- 상품 상세 -->
	<select id="productDetail"
		resultType="com.spring.selection.model.Product">
		SELECT product_no, brand, name, price, dscr, img FROM product WHERE product_no = #{product_no};	
	</select>
</mapper>