<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="UserMapper">
	<resultMap id="userMap" type="com.spring.selection.model.User">
		<result property="user_no" column="user_no" />
		<result property="user_id" column="user_id" />
		<result property="user_pw" column="user_pw" />
		<result property="user_email" column="user_email" />
		<result property="user_tel" column="user_tel" />
		<result property="user_name" column="user_name" />
		<result property="postcode" column="postcode" />
		<result property="address" column="address" />
		<result property="address_detail" column="address_detail" />
	</resultMap>
	
	<!-- 회원가입 -->
	<insert id="register"
		parameterType="com.spring.selection.model.User"
		useGeneratedKeys="true"
		keyProperty="user_no">
		INSERT INTO user (user_no, user_id, user_pw, user_email, user_tel, user_name, postcode, address, address_detail)
		VALUES (#{user_no}, #{user_id}, #{user_pw}, #{user_email}, #{user_tel}, #{user_name}, #{postcode}, #{address}, #{address_detail});
	</insert>
	
	<!-- 로그인 -->
	<select id="login" 
		resultMap="userMap"
		resultType="com.spring.selection.model.User">
		SELECT user_id, user_pw, user_email, user_name, user_tel, postcode, address, address_detail FROM user
		WHERE user_id = #{user_id} AND user_pw = #{user_pw};
	</select>
	
	<!-- 개인정보수정 -->
	<update id="userUpdate"
		parameterType="com.spring.selection.model.User">
		UPDATE user SET user_pw=#{user_pw}, user_email=#{user_email}, user_tel=#{user_tel}, postcode=#{postcode}, address=#{address}, address_detail=#{address_detail}
		WHERE user_id = #{user_id}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="userDelete"
		parameterType="com.spring.selection.model.User">
		DELETE FROM user WHERE user_id = #{user_id} AND user_pw = #{user_pw};
	</delete>
	
	
</mapper>